.home {
  &__gallery {
    width: 100%;

    margin-top: 43px;
    padding: 56px 50px 43px;

    background-color: #f6f6f6;
    border-radius: 25px;

    display: grid;
    grid-template-columns: repeat(3, 340px);
    column-gap: 60px;
    row-gap: 50px;
  }
}