.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    width: min(calc(100% - clamp(40px, 7.8125vw, 80px)), 1240px);
    min-width: 0;
    margin: 0 auto 50px;
    flex: 1;
  }
}
