.header {
  width: 100%;
  max-width: 1240px;
  height: 68px;

  margin: 45px auto 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 210.32px;
    height: 68px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 57px;
  }

  &__link {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;

    &.active {
      text-decoration: underline;
    }
  }
}